<h3 class="section-title">Projects</h3>
<dl class="experience">
    {% for project in site.data.projects %}
        <dt>
            <p class="title"><a href="{{ project.url }}">{{ project.title }}</a></p>
            <p class="company">{{ project.company }}</p>
            <p class="period">{{ project.period }}</p>
        </dt><!--
        --><dd>
            <p class="description">{{ project.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!--
<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt>
        <dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
-->